<!DOCTYPE html>
<html>
<head>
  <title>Fin Verify</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div class="centered">
    <h1>Congratulations!</h1>
    <h2>Your banking information has been verified.</h2>   
    <div class="effect-one"><a href=<%=verificationResultUrl%>>See Verification</a></div>
  </div>
</body>
</html>
